# EmailJS — créez un compte sur https://www.emailjs.com
# 1. Créez un service email (Gmail, Outlook…)
# 2. Créez un template avec les variables : {{to_email}}, {{sender_name}}, {{card_url}}, {{recipient_name}}
# 3. Copiez vos identifiants ci-dessous dans un fichier .env

VITE_EMAILJS_SERVICE_ID= service_4jlauip
VITE_EMAILJS_TEMPLATE_ID= template_y64ogyz
VITE_EMAILJS_PUBLIC_KEY= V390vMBXi-fO9LIs_


# URL de base pour les cartes (remplacez par votre domaine Vercel)
VITE_BASE_URL= cartes-fdm.vercel.app
